body{

background-color: lightblue;
    background-image: url("https://lh3.googleusercontent.com/1ZNTM8zZB8ftX2X6jyT-DIaoU4YjWfNmFU2zDc7A92Wk3baraGAlIoxMytPtvK2LBv0HxEc31pMMxnTfr4IGvC7peGlLREgAbOq7DWCHTr3z4fQbU8L1ihfMdCeRaaZSPV3dGJibZMvlBeBSyBytLx9IMdolZR--N-DVBy-bFP5Tv9WpHUhT543JKne6KzkC33BYegwVjMDKJGXRR2-_TLv7h6AOAdSK172w8Xzr6RNQHBxFFEGR6fLGXU37NZLcjOv0X72drlGXXHvDxf3iq75jhQ5fpZrJiinnj4En8mlyzdAePmv9CzuESsO0MwEqFHnU5OIRWU7tFjx6_5GUnE-7j6DrZGdkjdehTjjiP6q_DB965J4fjW1oIhR7sCKB5kgN5DX2p4pi3cbfjQ6bX7eJ-QA0sNMPzG1R--mMtos5jhlIfD1LsydDl8oDOjyLJVP9Kg3Ad44V53snmGxZhwujP46p_l9glKojljRVpwthqxd8Rx695Z6SxJQf7-BPQd7mKouHke0vC4hyGbdFPHuwHNoa3fMCdIzbspumnLO-AN6Z2J0mYTAeRn2P4Pt8A8rIzWb1VejROEa38U2oFIqAjIbZbwMyI7rHlYWWY18DrkIYRV2SPfriuztBmvY=w2232-h1488-no");
}

header{
    color: white;
    font-size: larger;
}
