body{

background-color: lightblue;
text-align: center;
}


header{
    color: white;
    font-size: larger;
    text-align: center; 
}

.img1 {
    position: absolute;
    display: block;
  
    
    z-index: 1;
}

.img2 {
    z-index: 2;
    position: absolute;
  
}
.img3 {
    z-index: 2;
    position: absolute;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}